
**/bin/
**/obj/
**/node_modules/
./package-lock.json

.vs/
*.vspscc
*.vssscc

**/images/**

!**/images/
!**/images/classes/
!**/images/classes/classes.png
!**/images/home/
!**/images/home/*.*
!**/images/users/
!**/images/users/user.webp
