@model string
@using Amozegar.Data
@using Amozegar.Data.UnitOfWork
@using Amozegar.Models
@using Microsoft.AspNetCore.Identity
@inject IUnitOfWork _context
@inject UserManager<User> _userManager

@{
    string classId = ViewBag.classId;
    var currentClass = await _context.ClassesRepository.GetByClassIdentity(classId);
    var teacher = await _userManager.FindByIdAsync(currentClass.TeacherId);
}

<div class="container-fluid">
    <!-- User Info Header -->
    <div class="user-info-header">
        <div class="user-info-content">
            <div class="user-avatar">
                <img src="~/images/classes/@currentClass.ClassImage" alt="تصویر کاربر">
            </div>
            <div class="user-details">
                <h2 class="user-name">@currentClass.ClassName</h2>
                <p class="user-username text-truncate">ایدی کلاس : @currentClass.ClassIdentity</p>
                <p class="user-username text-truncate">نام مدرس : @teacher.FullName</p>
            </div>
        </div>
    </div>
</div>

