<button id="goTopBtn" class="bg-primary text-white rounded-circle position-fixed border-0 z-3 d-flex justify-content-center align-items-center" style="left: 1rem; bottom: 1rem; width: 35px; height: 35px;">
	<i class="fa-solid fa-up-long"></i>
</button>