@model DeleteNotificationViewModel
@{
    ViewData["Title"] = "حذف اعلان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-2">
    <div class="alert alert-warning">
        آیا از حذف اعلان با عنوان @Model.NotificationTitle اطمینان دارید؟
        <form method="post" class="my-3">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(n => n.NotificationId)
            <a asp-action="Notifications"
               asp-controller="Home"
               asp-area="Teacher"
               asp-route-classId="@ViewBag.ClassId"
               asp-route-pageNumber="1"
               class="btn btn-warning">برگشت به اعلان ها</a>
            <button type="submit" class="btn btn-danger">حذف کردن</button>
        </form>
    </div>
</div>
