
<div class="modal fade" id="actionConfirmModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form id="confirmActionForm" method="post">
				@Html.AntiForgeryToken()
				<div class="modal-header">
					<h5 class="modal-title">تأیید عملیات</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
				</div>
				<div class="modal-body">
					<p id="confirmActionMessage">آیا مطمئن هستید که می‌خواهید این عملیات را انجام دهید؟</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-close="true">لغو</button>
					<button type="submit" class="btn btn-danger">تأیید</button>
				</div>
			</form>
		</div>
	</div>
</div>
